.on {display:none;}

.hidden { visibility: hidden;}

.animationX {animation:fadeInX 1.5s ease;}

.animationXFast {animation:fadeInX 0.5s ease;}

.animationY {animation:fadeInY 1.5s ease;}

.animationYFast {animation:fadeInY 0.5s ease;}

@keyframes fadeInX {
  0% {
    transform: translateX(10vw);
    opacity:0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInY {
  0% {
    transform: translateY(10vh);
    opacity:0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.select {
  width:100%;
  height:100%;
  background-color:var(--bgc-section);
  border-radius: 30px 0 0 30px;
  position: relative;
  z-index: 3;
}

.answerBox {
  height:4vh;
  border-radius: 30px;
  background-color: rgb(180, 180, 180);
  display:flex;
  justify-content: center;
  align-items: center;
  padding:15px;
  margin:0 1%;
}




.left {
  left:12vw;
}

.right {
  right:12vw;
}

.flex {
  display:flex;
}


/* flex-flexstart-center */
.flex-flexstart-center {
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-column-flexstart-center {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* flex-flexend-center */
.flex-flexend-center {
  display:flex;
  justify-content: flex-end;
  align-items: center;
}
.flex-column-flexend-center {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/* flex-center-center */
.flex-center-center {
  display:flex;
  justify-content: center;
  align-items: center;
}
.flex-column-center-center {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* flex-center-flexstart */
.flex-center-flexstart {
  display:flex;
  justify-content: center;
  align-items: flex-start;
}
.flex-column-center-flexstart {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


/* flex-center-flexend */
.flex-center-flexend {
  display:flex;
  justify-content: center;
  align-items: flex-end;
}
.flex-column-center-flexend {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

/* flex-flexend-flexend */
.flex-flexend-flexend {
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.flex-column-flexend-flexend {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}


/* flex-spacebetween-center */
.flex-spacebetween-center {
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column-spacebetween-center {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


/* flex-spacearound-center */
.flex-spacearound-center {
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.flex-column-spacearound-center {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


/* flex-spacearound-flexstart */
.flex-spacearound-flexstart {
  display:flex;
  justify-content: space-around;
  align-items: flex-start;
}
.flex-column-spacearound-flexstart {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flexstart;
}


/* flex-spaceevenly-center */
.flex-spaceevenly-center {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}
.flex-column-spaceevenly-center {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


