:root {
  --vw-100:100vw;
  --vh-100:100vh;

  --vw-110:110vw;
  --vh-110:110vh;

  --vw-400:400vw;
  --vh-400:400vh;

  --bgc-color:#161618;
  --bgc-header:#777777;
  --bgc-nav:#CECECE;
  --bgc-section:#EDEDED;
  --bgc-item:#C4C4C4;
  --bgc-255:#FFFFFF;

  --opgg-color:#5383E8;
  --fowkr-color:#DFBB66;
  --inven-color:#B41010;
  --loliteo-color:#CDD1FF;

  --border-color:#333333;

  --redteam:#FC6264;
  --blueteam:#62A9F9;

  --taro-text:#C8AA6E;
  --taro-bgc:#071824;


}
