
*{margin:0; padding:0; box-sizing: border-box;}

#root {
  width:var(--vw-100);
  height:var(--vh-100);
  background-color: #008081;
}

main {
  width:inherit;
  height:94%;
}

footer {
  width:inherit;
  height:6%;
  background-color: var(--bgc-192);
}

.line {
  width:inherit;
  height:0.4vh;
}

.line > div:nth-child(1) {
  width:inherit;
  height:50%;
  background-color: var(--bgc-223);
}

.line > div:nth-child(2) {
  width:inherit;
  height:50%;
  background-color:var(--bgc-225);
}

/* 작업표시줄 */
#taskbar {
  width:inherit;
  height:5.6vh;
}

#start {
  width:8%;
  height:inherit;
}

#start-button {
  width:80%;
  height:90%;
  background-color: var(--bgc-192);
}

#start-button > img {
  width:30px;
  height:30px;
}

#start-button > h1 {
  margin-left:0.5vw;
}

#start > div:nth-child(2) {
  width:4px;
  height:90%;
  margin-top:0.5vh;
  margin-left:0.5vw;
  display:flex;

}

#start > div:nth-child(2) > div:nth-child(1) {
  width:50%;
  height:inherit;
  background-color: var(--bgc-128);
}

#start > div:nth-child(2) > div:nth-child(2) {
  width:50%;
  height:inherit;
  background-color: var(--bgc-255);
}

#program {
  width: 84%;
  height:inherit;
}

#program > div {
  width:15vw;
  height:5vh;
  background-color: var(--bgc-189);
  margin:0.2vw;
}

/* 시계 */
#clock {
  width:11%;
  height:inherit;
}

#clock > div {
  width:80%;
  height:80%;
  padding:1px 5px;
}

/* 시계 알림 아이콘 */
#clock > div > img {
  width:30px;
  height:30px;
}

#main {
  width:100%;
  height:100%;
}

#main > div {
  width:inherit;
  height:inherit;
}

/* icon */
#main > div > div:nth-child(1) {
  width:8vw;
  height:70%;

}

#main > div > div:nth-child(1) > div {
  width:100px;
  height:120px;
}

#main > div > div:nth-child(1) > div > img {
  width:100px;
  height:100px;
}

#main > div > div:nth-child(1) > div > p {
  text-align: center;
  color:var(--bgc-255);
}