#hello-world > div {
  width:30vw;
  height:23vh;
  background-color: var(--bgc-189);
  position:absolute;
  left:35vw;
  top:30vh;
}

#hello-world > div > div:nth-child(1) {
  width:29.5vw;
  height:5vh;
  background: linear-gradient(90deg, #2F3A88 0%, #3384C8 100%);
}

#hello-world > div > div:nth-child(1) > h1 {
  color:white;
  margin-left:0.5vw;
  font-size: 2rem;
}

#hello-world > div > div:nth-child(2) {
  width:inherit;
  height:12vh;
}

#hello-world > div > div:nth-child(2) > p {
  margin:1vh 0;
}

#confirm {
  width:6vw;
  height:4vh;
  background-color:var(--bgc-189);
  margin:0.5vh 0;
}
