

/* curriculum-window */  
#main > div > div:nth-child(4) {
  position:absolute;
  }
  
#main > div > div:nth-child(4) > div {
  width:60vw;
  height:70vh;
  background-color: var(--bgc-189);
  position: absolute;
  left:20vw;
  top:10vh;
}

/* name */
#main > div > div:nth-child(4) > div > div:nth-child(1) {
  width:59.5vw;
  height:5vh;
  background: linear-gradient(90deg, #2F3A88 0%, #3384C8 100%);
}

#main > div > div:nth-child(4) > div > div:nth-child(1) > img {
  width:40px;
  height:40px;
}

#main > div > div:nth-child(4) > div > div:nth-child(1) > h1{
  width:53vw;
  color:var(--bgc-255);
  font-size: 2rem;
}

#main > div > div:nth-child(4) > div > div:nth-child(1) > div {
  width:2vw;
  height:100%;
}

#main > div > div:nth-child(4) > div > div:nth-child(1) > div > div {
  width:1.8vw;
  height:1.8vw;
  background-color:var(--bgc-192);
}


#main > div > div:nth-child(4) > div > div:nth-child(1) > div > div:nth-child(1) > span:nth-child(1) {
  width:1.2vw;
  height:0.25vh;
  background-color: var(--bgc-000);
  border-radius: 1vw;
  transform: rotate(42.5deg);
  
  position:absolute;
} 

#main > div > div:nth-child(4) > div > div:nth-child(1) > div > div:nth-child(1) > span:nth-child(2) {
  width:1.2vw;
  height:0.25vh;
  background-color: var(--bgc-000);
  border-radius: 1vw;
  transform: rotate(-42.5deg);
  
  position:absolute;
} 


#main > div > div:nth-child(4) > div > div:nth-child(2) {
  width:inherit;
  height:65vh;
}





