*{margin:0; padding:0; box-sizing: border-box;}
li{list-style:none;}

body {
  width:var(--vw-100);
  height:var(--vh-700);
  overflow-x:hidden; 
  overflow-y:auto;
}

#root {
  width:var(--vw-100);
  height:var(--vh-700);
  color:var(--text-color);
}