#section-4 {
  width:var(--vw-100);
  height:var(--vh-100);

  & > div:nth-child(1) {
    width:inherit;
    height:25%;

    & > div:nth-child(1) {
      width:50%;
      height:60%;

      & > h1:nth-child(1) {
        font-size: 150px;
        font-weight: 700;
      }
  
      & > h1:nth-child(2) {
        color:var(--title-color);
        text-shadow: -1px 0 var(--text-color), 0 1px var(--text-color), 1px 0 var(--text-color), 0 -1px var(--text-color);
        font-size: 150px;
        font-weight: 700;
      }
    }

    & > div:nth-child(2) {
      width:25%;
      height:70%;
      border:solid var(--award-color); border-width: 0 5px;
      font-size: 20px;
    }
  }

  & > div:nth-child(2) {
    width:inherit;
    height:100%;

    & > div {
      width:70%;
      height:80%;

      & > div:nth-child(1) {
        width:20%;
        height:100%;

        & > div {
          width:100%;
          height:15%;
        }

        & > div:nth-child(1) {
          background-color: var(--kanu-bgc);
          color:var(--kanu-text);
        }

        & > div:nth-child(2) {
          background-color: var(--discovery-bgc);
          color:var(--discovery-text);
          
          & > p {
            font-size:12px;
          }
        }

        & > div:nth-child(3) {
          background:var(--ssg-bgc);
          color:var(--discovery-bgc);
        }

        & > div:nth-child(4) {
          background-color: var(--terra-bgc);
          color:var(--discovery-bgc);
        }
      }

      & > div:nth-child(2) {
        width:75%;
        height:100%;

        & > div:nth-child(1) {
          width:45%;
          height:100%;

          position:relative;
          overflow: hidden;
          
          & > div {
            width:auto;
            height:100%;
            // transform: translate(-100%);

            
            & > img {
              width:100%;
              height:100%;
            }
          }

        }

        & > div:nth-child(2) {
          width:40%;
          height:100%;

          position:relative;
          overflow: hidden;

          & > div {
            width:400%;
            height:60%;

            position:absolute;

            & > div {
              width:100%;
              height:100%;
  
              & > p {
                padding:10px;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}