#section-4 {
  width:var(--vw-100);
  height:var(--vh-100);

  & > div:nth-child(1) {
    width:inherit;
    height:25%;

    & > div:nth-child(1) {
      width:50%;
      height:60%;

      & > h1:nth-child(1) {
        font-size: 150px;
        font-weight: 700;
      }
  
      & > h1:nth-child(2) {
        color:var(--title-color);
        text-shadow: -1px 0 var(--text-color), 0 1px var(--text-color), 1px 0 var(--text-color), 0 -1px var(--text-color);
        font-size: 150px;
        font-weight: 700;
      }
    }

    & > div:nth-child(2) {
      width:20%;
      height:50%;
      border:solid var(--award-color); border-width: 0 4px;
    }
  }

  & > div:nth-child(2) {
    width:inherit;
    height:100%;

    & > div {
      width:70%;
      height:70%;

      & > div {
        width:25%;
        height:100%;
        
        & > div {
          width:100%;
          height:25%;
        }

        & > img {
          width:100%;
          height:75%;
        }
      }

      & > div:nth-child(1) > div:nth-child(1) {
        background-color: var(--kanu-bgc);
        color:var(--kanu-text);
      }

      & > div:nth-child(2) > div:nth-child(1) {
        background-color: var(--discovery-bgc);
        color:var(--discovery-text);
      }

      & > div:nth-child(3) > div:nth-child(1) {
        background:var(--ssg-bgc);
        color:var(--discovery-bgc);
      }

      & > div:nth-child(4) > div:nth-child(1) {
        background-color: var(--terra-bgc);
        color:var(--discovery-bgc);
      }
    }
  }
}