*{margin:0; padding:0; box-sizing: border-box;}
li{list-style:none;}

body {
  width:var(--vw-100);
  height:var(--vh-700);
  overflow-x:hidden; 
  overflow-y:auto;
}

#root {
  width:var(--vw-100);
  height:var(--vh-700);
  color:var(--text-color);

  & > nav {
    width:2%;
    height:100%;
    
    position:fixed;
    z-index: 2;

    & > ul {
      width:75%;
      height:60%;

      & > li {
        width:40%;
        height:15%;
        border:1px solid green;

      }
    }
  }
}