#section-1 {
  width:var(--vw-100);
  height:var(--vh-300);

  & > div:nth-child(1) {
    width:var(--vw-100);
    height:var(--vh-100);

    & > img {
      width:inherit;
      height:inherit;

      position: absolute;
      z-index: -1;
    }

    & > div {
      width:65%;
      height:30%;
      position: fixed;
      
      & > h1 {
        color:var(--imgText-color);
        font-size: 200px;
  
        margin-right:5vw;
  
      }
    }
  }
}