:root {
  --vw-100:100vw;
  --vh-100:100vh;

  --vw-200:200vw;
  --vh-200:200vh;

  --vw-300:300vw;
  --vh-300:300vh;

  --vw-700:700vw;
  --vh-700:700vh;

  --vw-850:850vw;
  --vh-850:850vh;
  
  --text-color:rgba(40, 27, 36, 1);
  --title-color:rgba(253, 253, 255, 1);
}
