:root {
  --vw-100:100vw;
  --vh-100:100vh;

  --vw-150:150vw;
  --vh-150:150vh;

  --vw-200:200vw;
  --vh-200:200vh;

  --vw-300:300vw;
  --vh-300:300vh;

  --vw-700:700vw;
  --vh-700:700vh;

  --text-color:rgba(40, 27, 36, 1);
  --title-color:rgba(253, 253, 255, 1);
  --award-color:rgba(253, 153, 1, 1);
  --story-color:rgba(190, 247, 255, 0.5);
}
