.on {
  display:none;
}

.hidden {
  visibility: hidden;
}

.smallTopBar {

}

.flex {
  display:flex;
}

/* flex-flexstart-center */
.flex-flexstart-center {
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-column-flexstart-center {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* flex-flexend-center */
.flex-flexend-center {
  display:flex;
  justify-content: flex-end;
  align-items: center;
}
.flex-column-flexend-center {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/* flex-center-center */
.flex-center-center {
  display:flex;
  justify-content: center;
  align-items: center;
}
.flex-column-center-center {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* flex-center-flexstart */
.flex-center-flexstart {
  display:flex;
  justify-content: center;
  align-items: flex-start;
}
.flex-column-center-flexstart {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


/* flex-center-flexend */
.flex-center-flexend {
  display:flex;
  justify-content: center;
  align-items: flex-end;
}
.flex-column-center-flexend {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}


/* flex-spacebetween-center */
.flex-spacebetween-center {
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column-spacebetween-center {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


/* flex-spacearound-center */
.flex-spacearound-center {
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.flex-column-spacearound-center {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


/* flex-spacearound-flexstart */
.flex-spacearound-flexstart {
  display:flex;
  justify-content: space-around;
  align-items: flex-start;
}
.flex-column-spacearound-flexstart {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flexstart;
}


/* flex-spaceevenly-center */
.flex-spaceevenly-center {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}
.flex-column-spaceevenly-center {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}



.window-style {
  border-top:2px solid white;
  border-left:2px solid white;
  border-right:2px solid black;
  border-bottom:2px solid black;
}

.window-style-reverse {
  border-top:1px solid #808080;
  border-left:1px solid #808080;
  border-right:1px solid white;
  border-bottom:1px solid white;
}

.top-bar {
  background: linear-gradient(90deg, #2F3A88 0%, #3384C8 100%);
}

.outLine {
  outline-style: dashed;
  outline-width: 2px;
  outline-color: var(--bgc-051);
}

