/* curriculum-window */  
#curriculum-window {
  position:absolute;
  user-select: none;
  }
  
#curriculum-window > div {
  width:60vw;
  height:70vh;
  background-color: var(--bgc-189);
  position: absolute;
  left:20vw;
  top:10vh;
}

/* name */
#curriculum-window > div > div:nth-child(1) {
  width:59.5vw;
  height:5vh;
}

#curriculum-window > div > div:nth-child(1) > img {
  width:40px;
  height:40px;
}

#curriculum-window > div > div:nth-child(1) > h1{
  width:53vw;
  color:var(--bgc-255);
  font-size: 2rem;
}

#curriculum-window > div > div:nth-child(1) > div {
  width:2vw;
  height:100%;
}

#curriculum-window > div > div:nth-child(1) > div > div {
  width:1.8vw;
  height:1.8vw;
  background-color:var(--bgc-192);
}


#curriculum-window > div > div:nth-child(1) > div > div:nth-child(1) > span:nth-child(1) {
  width:1.2vw;
  height:0.25vh;
  background-color: var(--bgc-000);
  border-radius: 1vw;
  transform: rotate(42.5deg);
  
  position:absolute;
} 

#curriculum-window > div > div:nth-child(1) > div > div:nth-child(1) > span:nth-child(2) {
  width:1.2vw;
  height:0.25vh;
  background-color: var(--bgc-000);
  border-radius: 1vw;
  transform: rotate(-42.5deg);
  
  position:absolute;
} 


#curriculum-window > div > div:nth-child(2) {
  width:inherit;
  height:65vh;
}

#curriculum-window > div > div:nth-child(2) > div {
  width:50vw;
  height:55vh;
}

#curriculum-window > div > div:nth-child(2) > div > div:nth-child(1) {
  width:inherit;
  height:3vh;
}


#curriculum-window > div > div:nth-child(2) > div > div:nth-child(1) > div:nth-child(1) {
  width: 25vw;
  height:inherit;
  border-bottom:0;
  border-radius: 5px 5px 0 0;
}

#curriculum-window > div > div:nth-child(2) > div > div:nth-child(1) > div:nth-child(2) {
  width:25vw;
  height:inherit;
  border-bottom: 2px solid var(--bgc-255);
}


#curriculum-window > div > div:nth-child(2) > div > div:nth-child(2) {
  width:inherit;
  height:52vh;
  border-top:0;
}

#curriculum-window > div > div:nth-child(2) > div > div:nth-child(2) > div {
  width:inherit;
  height:50%;
  /* border:1px solid red; */
}







