#hello-world > div {
  width:25vw;
  height:24vh;
  background-color: var(--bgc-189);
  position:absolute;
  z-index: 2;
  left:35vw;
  top:30vh;
  user-select: none;
}

#hello-world > div > div:nth-child(1) {
  width:99.5%;
  height:5vh;
}

#hello-world > div > div:nth-child(1) > h1 {
  color:white;
  margin-left:0.5vw;
  font-size: 2rem;
}

#hello-world > div > div:nth-child(2) {
  width:inherit;
  height:14vh;
}

#hello-world > div > div:nth-child(2) > p {
  margin:0.5vh 0;
}

#hello-world > div > div:nth-child(2) > p:nth-child(3) {
  margin-top: 2vh;
}



#confirm {
  width:6vw;
  height:4vh;
  background-color:var(--bgc-189);
  margin:0.5vh 0;
}
