

/* change-window */  
#main > div > div:nth-child(6) {
  position:absolute;
}

#main > div > div:nth-child(6) > div {
  width:20vw;
  height:40vh;
  background-color: var(--bgc-189);
  position: absolute;
  top:54vh;
}

/* name */
#main > div > div:nth-child(6) > div > div:nth-child(1) {
  width:3vw;
  height:39.5vh;
  background: linear-gradient(0deg, #0000FF 0%, #000080 100%);
  position: relative;
}
#main > div > div:nth-child(6) > div > div:nth-child(1) > h1{
  width:35vh;
  height:3vw;
  color:var(--bgc-255);
  transform: rotate(-90deg);
  transform-origin: 0 0 ;
  position: absolute;
  top:38vh;
  left:0.5vw;
  /* test */
}


#main > div > div:nth-child(6) > div > div:nth-child(2) {
  width:17vw;
  height:inherit;
}
