

/* portfolio-window */  
#portfolio-window {
  position:absolute;
  user-select: none;
  }
  
#portfolio-window > div {
  width:60vw;
  height:50vh;
  background-color: var(--bgc-189);
  position: absolute;
  left:15vw;
  top:20vh;
}

/* name */
#portfolio-window > div > div:nth-child(1) {
  width:99.5%;
  height:5vh;
}

#portfolio-window > div > div:nth-child(1) > img {
  width:40px;
  height:40px;
}

#portfolio-window > div > div:nth-child(1) > h1{
  width:90%;
  color:var(--bgc-255);
  font-size: 2rem;
}

#portfolio-window > div > div:nth-child(1) > div {
  width:2vw;
  height:100%;
}

#portfolio-window > div > div:nth-child(1) > div > div {
  width:1.8vw;
  height:1.8vw;
  background-color:var(--bgc-192);
}


#portfolio-window > div > div:nth-child(1) > div > div:nth-child(1) > span:nth-child(1) {
  width:1.2vw;
  height:0.25vh;
  background-color: var(--bgc-000);
  border-radius: 1vw;
  transform: rotate(42.5deg);
  
  position:absolute;
} 

#portfolio-window > div > div:nth-child(1) > div > div:nth-child(1) > span:nth-child(2) {
  width:1.2vw;
  height:0.25vh;
  background-color: var(--bgc-000);
  border-radius: 1vw;
  transform: rotate(-42.5deg);
  
  position:absolute;
} 

/* portfolio list */
#portfolio-window > div > div:nth-child(2) {
  width:inherit;
  height:40vh;
}

#portfolio-window > div > div:nth-child(2) > div {
  width: 40%;
  height: 80%;
  background-color: var(--bgc-223);
}



/* check */
#portfolio-window > div > div:nth-child(3) {
  width:inherit;
  height:10vh;
}

#portfolio-window > div > div:nth-child(3) > div {
  width: 10%;
  height: 40%;
  background-color: var(--bgc-189);
}

/* 작업표시줄 */
#portfolio-taskBar > img {
  width:1.5vw;
  height:1.5vw;
  margin-left:0.5vw;
}

#portfolio-taskBar > p {
  margin-left:0.5vw;
}
