

/* contact-window */  
#main > div > div:nth-child(5) {
  position:absolute;
  user-select: none;

  top:0vh;
  }
  
#main > div > div:nth-child(5) > div {
  width:50vw;
  height:70vh;
  background-color: var(--bgc-189);
  position: absolute;
  left:25vw;
  top:25vh;
}

/* name */
#main > div > div:nth-child(5) > div > div:nth-child(1) {
  width:99.5%;
  height:5vh;
}

#main > div > div:nth-child(5) > div > div:nth-child(1) > img {
  width:40px;
  height:40px;
}

#main > div > div:nth-child(5) > div > div:nth-child(1) > h1{
  width:88%;
  color:var(--bgc-255);
  font-size: 2rem;
}

#main > div > div:nth-child(5) > div > div:nth-child(1) > div {
  width:2vw;
  height:100%;
}

#main > div > div:nth-child(5) > div > div:nth-child(1) > div > div {
  width:1.8vw;
  height:1.8vw;
  background-color:var(--bgc-192);
}


#main > div > div:nth-child(5) > div > div:nth-child(1) > div > div:nth-child(1) > span:nth-child(1) {
  width:1.2vw;
  height:0.25vh;
  background-color: var(--bgc-000);
  border-radius: 1vw;
  transform: rotate(42.5deg);
  
  position:absolute;
} 

#main > div > div:nth-child(5) > div > div:nth-child(1) > div > div:nth-child(1) > span:nth-child(2) {
  width:1.2vw;
  height:0.25vh;
  background-color: var(--bgc-000);
  border-radius: 1vw;
  transform: rotate(-42.5deg);
  
  position:absolute;
} 

/* contact */
#main > div > div:nth-child(5) > div > div:nth-child(2) {
  width:inherit;
  height:65vh;
}








/* 작업표시줄 */
#contact-taskBar > img {
  width:1.5vw;
  height:1.5vw;
  margin-left:0.5vw;
}

#contact-taskBar > p {
  margin-left:0.5vw;
}

